<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Managers of departments</h1>
<table border = 1px cellpadding="3" style="font-family:Arial">
    <tr>
        <th>empid</th>
        <th>first name</th>
        <th>first name</th>
        <th>email</th>
        <th>department name</th>
    </tr>
    {% for department in departments %}
        <tr>
            <td>{{department.manager.employee_id}}</td>
            <td>{{department.manager.first_name}}</td>
            <td>{{department.manager.last_name}}</td>
            <td>{{department.manager.email}}</td>
            <td>{{department.department_name}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>



